*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 70px;
    font-weight: bold;
}
h2{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 50px;
}
h3{
    font-size: 42px;
    font-weight: 700;
}
h4{
    font-size: 22px;
    color: red;
}
p{
    font-size: 18px;
}
.menu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 20px;
    color: #fff;
    position: relative;

}
.logo-title{
    font-size: 53px;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 60px;

}
.menu-items{
    display: flex;

}
.menu-items li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    

}
.menu-items li:hover{
    color: orange;
    cursor: pointer;
}
.banner-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #000;
    align-items: center;
    color: #fff;
    
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: red;
    font-size: 24px;
    margin: 10px;
}
.title-1{
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}
.text{
    font-size: 25px;
    margin: 10px;
}
.banner-btn{
    padding: 18px 40px;
    font-size: 18px;
    color: #fff;
    background-color: red;
    margin-top: 30px;
}
.banner-btn:hover{
    background-color: blue;
    
}
/* End Banner Section*/
.card-section{
    margin: 70px 0;
}
.card-parents {
    display: flex;
    justify-content: space-evenly;
}
.card-heading{
    text-align: center;
}
.card-items{
    width: 400px;
    height: 270px;
    border: 1px solid gray;
    display: flex;
    text-align: center;
    padding: 20px;
    box-shadow: 8px 8px 16px gray;
    border-radius: 10px;
}
.card-items a{
    color: #3f51b5;
}
.card-icon{
    width: 65px;
}
.item-1 p{
    margin: 20px 0;
}
#card-1{
    background-color: #ff528db3;
}
#card-2 {
    background-color: #673ab794;
}
#card-3 {
    background-color: #e02bff63;
}
/* End Card Section Design */
#about{
    width: 100%;
    height: 700px;
    margin-top: 100px;
    background-color:#100f0f;
    color: #fff;
    padding: 10px 0;
 }
.about-title{
    margin: 40px 0;
}
.about-container{
    display: flex;
    
}
.img-container{
    width: 700px;
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
        
}
.img-container img{
    height: 500px;
    transform: skewY(-15deg);
    padding: 20px;

}
.about-description{
    width: 700px;
    margin-left: 200px;
}
.about-paragraph{
    margin-bottom: 20px;
}
.about-description ul,
button
{
    margin: 40px 0;
}

.about-description button a:link{
    text-decoration: none;
    color: #fff;
}
/* End About Section */
#workout{
    width: 750px;
    height: 250px;
    background-image: url(./images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 25px;
    
    
}
.workout-container{
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 65px;
    color: #fff;
}
.workout-btn button{
    padding: 15px 30px;
    background-color: rgb(248, 246, 246);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 300;
}
.workout-btn button:hover{
    background-color: blue;
    color: #fff;
}
/* End Workout Section */
#services{
    margin: 130px 0;
}
.services-item-1{
    width: 350px;
    border: 10px;
    box-shadow: 8px 8px 16px rgb(17 16 16);
    border-radius: 10px;
    cursor: pointer;
    margin: 30px;
}
.item-description img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.item-title h3,
.item-price h3{
    padding: 10px 0;
    font-size: 28px;
}
.item-title{
    padding: 15px;
}
.item-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dollor{
    margin-left: -40px;
}
.join-today{
    color: red;
    font-size: 18px;
    font-weight: 300;
}
.services-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.batch{
    position: relative;

}
.batch-img{
    position: absolute;
    width: 70px;
    top: -30px;
    left: 85%;
}
#service-1{
    border-left: 5px solid red;
}
#service-2 {
    border-left: 5px solid blue;
}
#service-3 {
    border-left: 5px solid gold;
}
/* End Services Section */
.footer-container{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
.social-link{
    padding: 30px;
}

.social-link a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}
.social-link a:hover{
    color: red;
}
.footer-description a{
    text-decoration: none;
    color: red;
}
hr{
    margin: 0 200px;
}